json_sempai
PyYAML
paho-mqtt
rpi-backlight
Kivy
twisted
pydantic_yaml[ruamel]
python-box[ruamel.yaml]
mypy
kivymd
# construct
# ahocorapy
# pybluez==0.22
# gattlib
# pygatt[GATTTOOL]
# beacontools[scan]
uvicorn
fastapi